.node-graph
  position: absolute
  z-index: 2
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

  line
    stroke: #1888C8
    stroke-width: 4

  text
    font-size: 14px
    font-weight: bold

  .node
    animation: fadeIn 1200ms forwards

    &.past
      cursor: pointer

    &.present
      cursor: default

    &.future
      cursor: pointer
