.github-link
  display: block
  position: fixed
  z-index: 5
  right: 2rem
  top: 1.6rem

.footer
  position: fixed
  z-index: 4
  left: 0
  right: 0
  bottom: 0
  width: 33%
  margin: auto
  padding: 1.5rem 0
  text-align: center
  color: #fff

  h4
    font-size: 18px
    font-weight: 300
    margin-bottom: 8px
    color: #ccc

  .raised-link
    display: inline-block
    position: relative
    font-weight: 500
    color: #d9d9d9
    transition: .2s
