.search-wrapper
  position: absolute
  top: 0
  left: 0
  right: 0
  margin: auto
  z-index: 1
  width: 33%
  min-width: 440px
  height: 100%
  padding: 0 40px
  color: $lightgray

  header
    position: relative
    top: 0
    left: 0
    right: 0
    margin: auto
    width: 100%
    height: 200px
    line-height: 200px
    text-align: center
    font-size: 80px
    letter-spacing: -3px
    font-weight: 700
    color: #fff
    text-shadow: 1px 2px 0 rgba(0, 0, 0, .2)
    transition: 1s

  h1
    margin: 0
    padding: 0
    border: 0
    font-size: 28px
    font-weight: 300
    line-height: 1.2em

  h3
    margin: 35px 0
    font-size: 22px
    font-weight: 300

  .search-box
    position: relative
    width: 80%
    margin-left: 10%

    .search-input-loading
      position: absolute
      right: 13px
      top: 13px

    .search-input
      width: 100%
      background: transparent
      border: none
      outline: none
      padding: 8px
      font-size: 24px
      color: $white
      border-bottom: 3px solid $blue
      transition: .5s
      &:hover
        background: darken($navy, 2%)
        transition: .25s

    .suggestions
      position: absolute
      width: 100%
      z-index: 5

      .suggestion
        padding: 12px
        background: darken($navy, 2%)
        border-bottom: 1px solid darken($navy, 4%)
        cursor: pointer
        &:last-child
          border-bottom: 0
        &:hover, &.highlighted
          background: darken($blue, 20%)
        &.confirmed
          background: darken($green, 10%)

  .recent-search
    position: relative
    padding: 1.5rem 1rem
    margin-top: 1rem
    cursor: default

    .heading
      margin: 0 0 5px 0
      color: $yellow
      font-size: 14px
      font-weight: 700
      text-transform: uppercase

    li
      display: inline-block
      padding: 6px 6px 6px 0
      animation-name: fadeRecentItem
      animation-duration: 500ms
      animation-fill-mode: backwards
      &.faded
        opacity: 0
        transition: opacity 1000ms ease-out

    for index in 1 2 3 4 5 6 7 8 9 10 11 12
      li:nth-child({index})
        animation-delay: (index * 90)ms

    a
      position: relative
      cursor: pointer
      &:before
        content: ""
        position: absolute
        left: 4px
        right: 4px
        bottom: -2px
        height: 2px
        background: $green
        transform: translateY(3px)
        opacity: 0
        transition: .4s ease-out
      &:hover:before
        transform: translateY(0)
        opacity: 1
        transition: .15s ease-out

@keyframes fadeRecentItem
  from
    opacity: 0.01
  to
    opacity: 1
